.hide { display: none; }
.show { display: block; }
.dl-day { 
  width: 13%;
  height: 4%;
  float: left;
  border: 1px solid black;
  margin: 0px -1px -1px 0px;
  padding: 3% 0 5% 0;
  font-size: 1.2em;
  background-color: rgb(56,173,207);
  
  /* http://gradients.glrzad.com/ 
  background-image: linear-gradient(bottom, rgb(88,227,220) 9%, rgb(110,177,179) 61%);
  background-image: -o-linear-gradient(bottom, rgb(88,227,220) 9%, rgb(110,177,179) 61%);
  background-image: -moz-linear-gradient(bottom, rgb(88,227,220) 9%, rgb(110,177,179) 61%);
  background-image: -webkit-linear-gradient(bottom, rgb(88,227,220) 9%, rgb(110,177,179) 61%);
  background-image: -ms-linear-gradient(bottom, rgb(88,227,220) 9%, rgb(110,177,179) 61%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.09, rgb(88,227,220)),
  	color-stop(0.61, rgb(110,177,179))
  );
  */
}
.dl-day-selected {
  background-color: rgb(56,94,207);
}
.dl-day-special {
  background-color: rgb(53,197,191);
}

/*
.dl-day-special {
  background-image: linear-gradient(bottom, rgb(121,178,199) 9%, rgb(87,227,220) 61%);
  background-image: -o-linear-gradient(bottom, rgb(121,178,199) 9%, rgb(87,227,220) 61%);
  background-image: -moz-linear-gradient(bottom, rgb(121,178,199) 9%, rgb(87,227,220) 61%);
  background-image: -webkit-linear-gradient(bottom, rgb(121,178,199) 9%, rgb(87,227,220) 61%);
  background-image: -ms-linear-gradient(bottom, rgb(121,178,199) 9%, rgb(87,227,220) 61%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.09, rgb(117,227,255)),
  	color-stop(0.61, rgb(121,178,199))
  );
}
*/

.dl-day-disabled {
  background-color: rgb(192,192,192);
/*
  background-image: linear-gradient(bottom, rgb(69,69,69) 28%, rgb(120,120,120) 64%, rgb(179,179,179) 82%);
  background-image: -o-linear-gradient(bottom, rgb(69,69,69) 28%, rgb(120,120,120) 64%, rgb(179,179,179) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(69,69,69) 28%, rgb(120,120,120) 64%, rgb(179,179,179) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(69,69,69) 28%, rgb(120,120,120) 64%, rgb(179,179,179) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 28%, rgb(120,120,120) 64%, rgb(179,179,179) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.28, rgb(69,69,69)),
  	color-stop(0.64, rgb(120,120,120)),
  	color-stop(0.82, rgb(179,179,179))
  );
*/
}

.dl-week {
  width: 100%;
  float: left;
}

.dl-head {
  height: 4%;
  width: 92%;
  font-size: 1.5em;
  padding: 8% 0 0 3%;
}
.dl-prev {
  width: 8%;
  height: 100%;
  float: left;
  padding-left: 2%;
}
.dl-next {
  width: 8%;
  height: 100%;
  float: right;
  padding-right: 2%;
  text-align: right;
}
.dl-month-name {
  text-align: center;
  float: left;
  width: 80%;
  padding-bottom: 1%;
}
.dl-grid {
  width: 100%;
  padding: 1% 3% 0% 3%;
  text-align: center;
}
.dl-month {
  border: 1px solid black;
  float: left;
  padding-bottom: 3%;
  background-color: white;
  width: 48%;
}
.dl-month-old {
  border: 1px solid black;
  float: left;
  padding-bottom: 3%;
  width: 48%;
}
.dl-container { 
  width: 100%;
  height: 80%; /* looks like we must set a height. */
  overflow-x: hidden;
  position: relative;  
}
.dl-months {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.dl-left {
  left: -96%;
}